 <section class="footer-component">
        <div class="container">
            <div class="row">
                <i class="fas fa-user"></i>
                <!-- uses solid style -->
                <i class="far fa-user"></i>
                <!-- uses regular style -->
                <i class="fal fa-user"></i>
                <!-- uses light style -->
                <!--brand icon-->
                <i class="fab fa-github-square"></i>
                <!-- uses brands style -->

                <div class="col-md-12 col-lg-12 align-right no-padding-m">

                    <ul class="list">
                        <li><a href="#">About Hotel</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-3 align-v-center-d align-h-center-m align-center-m left-col">
                    <p>How can we help? <span class="visible-md"> </span>+1-800-NUMBER
                        <span class="visible-md"> </span><span class="visible-xs"> </span>Call us, it’s toll-free.</p>
                </div>
                <div class="col-md-9 col-md-9 align-right-d align-center-m ptd-40">
                    <div class="imgLinkComponent">
                        <img src="../../images/logo.svg" alt="footer logo">
                    </div>
                    <p>© 2020 Hotel Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>